.coin {
    width: 300px;
    margin: 20px 0 0 0;
    padding: 20px 0 20px 0;
    background-color: rgb(0, 0, 0);
    color: rgb(250, 250, 250);
    border-radius: 10px;
    box-shadow: 0px 5px 10px 2px rgba(100, 100, 100, 0.2);
    &:not(:last-child) {
        margin-right: 10px;
    }
    .images {
        width: 75px;
        height: 75px;
    }
    a {
        text-decoration: none;
        color: rgb(250, 250, 250);
    }
    h1, h3 {
        margin: 20px 0 20px 0;
    }
}