.header {
    max-width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(144, 238, 144);
    input {
        width: 50%;
        height: 50px;
        border: none;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        text-align: center;
        margin-top: 10px;
    }
}